<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="ViewPort" content="width=device-width, initial-scale=1" />
	<title>Panel de contenido</title>
	<link rel="stylesheet" href="app/view/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="app/view/css/prueba.css" />
	<link rel="stylesheet" type="text/css" href="app/view/css/contenido.css" />

</head>
<body>
	<nav class="titulo-navegacion">
		<h2>Hospital de las culturas, San Cristobal de las Casas, Chiapas</h2> 
	</nav>
	<div class="row subtitulo">
		<h2 class="titulo__contenido text-left"></h2>
	</div>

	<nav class="navbar navegacion">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#idmenu" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="idmenu">
	    	<ul class="nav navbar-nav">
	      		<li><a data="link1" href="contenido">Preguntas protocolarias</a></li>
	      		<li><a data="link2" href="#" class="select">Auscultación</a></li>
	      		<li><a data="link3" href="diagnostico">Diagnostico</a></li>
				<li>
					<button class="btn btnP btnlogout text-right">Desconectar sesión</button>
				</li>
	    	</ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row auscultacion">
			<div class="col-md-9">
				<div class="container-fluid">
					<div class="row"><h3>Instrucción</h3></div>
					<div class="row title__subtitulo">Oprima la parte del cuerpo humano que le duele o le molesta</div>
					<div class="row title__subtitulo">k'uk'umal chi7uk 'uk'um ahnilal</div>
					<div class="row">
						<div class="col-md-4">
							<ul class="lista__panel1">
								<li>Presenta:</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="lista__panel2"></ul>
						</div>
						<div class="col-md-4">
							<ul class="lista__panel3"></ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<figure><img src="" alt="imagen de bebe"></figure>
			</div>
		</div>
	</div>
	<script src="app/view/js/jquery.js"></script>
	<script src="app/view/js/bootstrap.min.js"></script>
	<script src="app/view/js/funciones.js"></script>
</body>
</html>