<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="ViewPort" content="width=device-width, initial-scale=1" />
	<title>Panel de contenido</title>
	<link rel="stylesheet" href="app/view/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="app/view/css/prueba.css" />
	<link rel="stylesheet" type="text/css" href="app/view/css/contenido.css" />

</head>
<body>
	<nav class="titulo-navegacion">
		<h2>Hospital de las culturas, San Cristobal de las Casas, Chiapas</h2> 
	</nav>
	<div class="row subtitulo">
		<h2 class="titulo__contenido text-left"></h2>
	</div>

	<nav class="navbar navegacion">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#idmenu" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="idmenu">
	    	<ul class="nav navbar-nav">
	      		<li><a data="link1" href="#item1">Preguntas protocolarias</a></li>
	      		<li><a data="link2" href="#item2">Auscultación</a></li>
	      		<li><a data="link3" href="#item3">Diagnostico</a></li>
				<li>
					<button class="btn btnP btnlogout text-right">Desconectar sesión</button>
				</li>
	    	</ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid items">
		<div class="row preguntas_p visible" id="item1"></div>
		<div class="row auscultacion invisible" id="item2"><h2>panel auscultacion</h2></div>
		<div class="row diagnostico invisible" id="item3"><h2>panel diagnostico</h2></div>
	</div>
	<script src="app/view/js/jquery.js"></script>
	<script src="app/view/js/bootstrap.min.js"></script>
	<script src="app/view/js/funciones.js"></script>
</body>
</html>