<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="ViewPort" content="width=device-width, initial-scale=1" />
	<title>Secretaria de salud</title>
	<link rel="stylesheet" href="app/view/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="app/view/css/prueba.css" />
</head>
<body>
	<nav class="titulo-navegacion">
		<h2>Hospital de las culturas, San Cristobal de las Casas, Chiapas</h2> 
	</nav>
	<div class="container-fluid">
		<div class="row titulo text-center">
			<h1>BIENVENIDO</h1>
		</div>
		<div class="col-md-12 col-lg-12">
			<div class="row middle text-center">
				<figure><img src="app/view/img/2.jpg" alt="2.jpg"></figure>
				<figure>
					<img src="app/view/img/h.jpg" alt="h.jpg" style="width:50%; heigth:auto;">
				</figure>
				<a href="login" class="btn btningresar">Ingresar</a>
			</div>
			<div class="row left">
				<figure>
					<img src="app/view/img/ssa.jpg" alt="ssa.jpg" style="width:20%; heigth:auto;">
				</figure>
			</div>
		</div>
	</div>
</body>
</html>