.title{
	height: 100px;
}
div.row h3{
	text-align: center;
}
.row{
	height: 300px;
}
form input{
	margin: 10px 0;
}
.btnP{
	margin: 2em 0;
}
@media screen and (min-height: 250px){
	.scroll{
		height: 250px;
	}
}