.subtitulo{
	color: #7f8794;
	margin: 30px 60px;
}
.btnP{
	background: #8bd9d1;
	font-size: 1.5em;
	color: #333;
	padding: 0 40px;
}
.navegacion{
	border-bottom: 5px solid #bfbfbf;
}
.navbar-toggle{
	background: #333;
}
.navbar-toggle .icon-bar{
	background: #eee;
}
.navbar-nav li{
	padding: 0 30px;
}
.navbar-nav li a{
	color: black;
	margin: 0 2.5em;
	transition: 1s;
	-webkir-transition: 1s;
}
a[data="link1"], a[data="link2"], a[data="link3"]{
	border-left: 5px solid #333;
}
ul.nav li a:hover{
	background: #8bd9d1;
}
table{
	display: flex;
	justify-content: space-around;
}
tr[data-fila] td{
	font-size: 2em;
	padding: 1em 5em;
	color: #808080;
}
tr[data-fila] td::before{
	content: "¿";
}
tr[data-fila] td::after{
	content: "?";
}
