@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
.subtitulo{
	color: #7f8794;
	margin: 0px 60px;
}
.btnP{
	background: #8bd9d1;
	font-size: 1.5em;
	color: #333;
	padding: 0 40px;
}
.navegacion{
	border-bottom: 5px solid #bfbfbf;
}
.navbar-toggle{
	background: #333;
}
.navbar-toggle .icon-bar{
	background: #eee;
}
.navbar-nav li{
	padding: 0 30px;
}
.navbar-nav li a{
	cursor: pointer;
	color: black;
	margin: 0 1em;
	transition: 1s;
	-webkir-transition: 1s;
}
a[data="link1"], a[data="link2"], a[data="link3"]{
	border-left: 5px solid #333;
	font-size: 1.5em;
}
.select{
	background: #8bd9d1;
}
table{
	display: flex;
	justify-content: space-around;
}
tr[data-fila] td{
	font-size: 2em;
	padding: 1em 3em;
	color: #808080;
}
tr[data-fila] td::before{
	content: "¿";
}
tr[data-fila] td::after{
	content: "?";
}
.title__subtitulo{
	font-size: 1.5em;
}
.lista__panel1 li, .lista__panel2 li, .lista__panel3 li{
	cursor: pointer;
	list-style-type: none;
}
.lista__panel1 li{
	font-size: 1.5em;
}
.lista__panel2 li, .lista__panel3 li{
	font-size: 1.2em;
}
.panel_b, .panel_c{
	display: none;
	background: #eee;
	padding: .3em;
}
.f_esp{
	font-size: .9em;
	font-family: "Droid Serif", serif;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}
.f_tzo{
	font-size: .9em;
}