*{
	margin: 0px;
}
.titulo-navegacion{
	background: #fc9628; /*es el fondo del blique que estoy usando*/
	text-align: center; /*centrado del texto*/
	padding: 1.8em 0; /*es el espacio 1em=16px */
}
.titulo{
	text-align: center;
	padding: 1.8em 0;
	color: #7f8794;
}
figure[data="figura1"] img{
	width: 65%;
	height: 65%;
	margin-top: 18em;
	margin-left: 40px;
}
.col2{
	text-align: center;
	margin-top: 35px;
}
figure[data="figura2"] img{
	text-align: center;
	margin-left: -30px;
}
figure[data="figura3"] img{
	margin-left: 40%;
	margin-top: -70px;
}
.btningresar{
	background: #fc9628;
	border-radius: 5px;
	line-height: 1.5;
	padding: 6px 12px;
	border: 1 px solid transparent;
	border-color: #fc9628;
	color: black;
	font-size: 2em;
	margin-top: 65px;
	transition: .5s;
	-webkit-transition: .5s;
}
.btningresar:hover{
	background: black;
	border-color: black;
	color: #fc9628;
}

@media screen and (min-width: 360px){
	.titulo-navegacion{
		font-size: 1em;
	}
	.titulo{
		font-size: 1em;
	}
}

.area{
	text-align: left;
	padding: 1.0em 0;
	color: #7f8794;
	font-size: 1.0em;
}
.pedia{
	text-align: center;
	padding: 1.3em 0;
	color: #7f8794;
	font-size: 1.5em;
	
}
.trauma{
	text-align: right;
	padding: 1.3em 0;
	color: #7f8794;
	font-size: 1.5em;
	}

.btningre{

	background: #fc9628;
	border-radius: 5px;
	line-height: 1.5;
	padding: 6px 12px;
	border: 1 px solid transparent;
	border-color: #fc9628;
	color: black;
	font-size: 1em;
	margin-right: 35%;
	
}
.btningre:hover{
	background: black;
	border-color: black;
	color: #fc9628;
}
.img4{
	text-align: right;
	display: top-flex;
	padding-bottom: 1em;
}
.figuretrauma{
	text-align: left;
}

