<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="ViewPort" content="width=device-width, initial-scale=1" />
	<title>Secretaria de salud</title>
	<link rel="stylesheet" type="text/css" href="app/views/css/prueba.css" />
	<link rel="stylesheet" href="app/views/css/bootstrap.min.css" />

</head>
<body>
	<nav class="titulo-navegacion">
		<h2>Hospital de las culturas, San Cristobal de las Casas, Chiapas</h2> 
	</nav>
	<div class="row titulo">
		<h1>BIENVENIDO</h1>
	</div>
	<div class="row">
		<div class="col-md-4 col1">
			<figure class="figure" data="figura1">
				<img src="app/views/img/ssa.jpg">
			</figure>
		</div>
		<div class="col-md-4 col2">
			<figure class="figure" data="figura2">
				<img src="app/views/img/h.jpg">
			</figure>
			<button class="btningresar">INGRESAR</button>
		</div>
		<div class="col-md-4 col3">
			<figure class="figure" data="figura3">
				<img src="app/views/img/2.jpg">
			</figure>
		</div>
	</div>
</body>
</html>